div.altpager {
  text-align: right;
  padding: 5px 0px;
}  

div.altpager ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

div.altpager ul li {
  display: inline;
  padding: 2px 5px;
}

div.altpager ul li.active {
  color: green;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

div.altpager ul li  a {
  text-decoration: none;
}

div.altpager ul li  a:hover {
  color: green;
}
